/* html,
body {
  height: 100%;
} */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font: 400 14px Roboto, sans-serif;
  background: #f1f1f1;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

.bg-green {
  background-image: url("../../assets/signup-bk.jpeg");
  background-size: cover;
  height: 100vh;
}

.bg-green-small {
  background-image: url("../../assets/signup-bk.jpeg");
  height: 84px;
  width: 100%;
}

.logo {
  padding: 0px 16px;
}

.bg-image {
  margin-top: 80px;
  width: 100%;
}

.bg-image-small {
  margin: 10px 0;
  height: 60px;  

} 

.block-login {
  padding: 28px 48px;
  margin-top: 35px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;
}
@media (max-width: 800px) {
  .block-login {
    padding: 22px 30px;
  }
}

.button-login span {
  color: #FFF;
}

button span {
  text-transform: capitalize;
}

a span {
  text-transform: capitalize;
}

.check-icon label{
  margin-right: 0;
}

.label{
  font-size: 0.9375rem;
  color: #47b062;
}

.image-icons {
  margin-left: 15px;
  color: #FFF;
  font-size: 32px;
  font-weight: bold;
}

