/* html,
body {
  height: 100%;
} */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font: 400 14px Roboto, sans-serif;
  background: #f1f2f5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.bg-green {
  background-image: url("../../assets/signup-bk.jpeg");
  height: 100vh;
}

.block-login {
  padding: 32px 54px;
  margin-top: 35px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;
}

.button-login span {
  color: #FFF;
}

button span {
  text-transform: capitalize;
}

a span {
  text-transform: capitalize;
}

.check-icon label{
  margin-right: 0;
}

.label{
  font-size: 0.9375rem;
  color: #47b062;
}

.image-icons {
  margin-left: 15px;
  color: #FFF;
  font-size: 32px;
  font-weight: bold;
}

